@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-primary: #25D366;
  --color-primary-dark: #075E54;
  --color-primary-light: #dcf8c6;
  --color-secondary: #34b7f1;
  --color-secondary-dark: #128c7e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #25D366;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #075E54;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.scrollbar-categories {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Mobile touch scrolling */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #25D366 transparent; /* Firefox */
}
.scrollbar-categories::-webkit-scrollbar {
  height: 4px !important;
  display: block !important;
  -webkit-appearance: none;
}
.scrollbar-categories::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}
.scrollbar-categories::-webkit-scrollbar-thumb {
  background: #25D366 !important;
  border-radius: 10px;
}
